body {
    font-family: "Gill Sans", sans-serif;
    /* Colors */
    --pink: #E63946;
    --light: #F1FAEE;
    --dust-blue: #A8DADC;
    --blue: #457B9D;
    --dark-blue: #1D3557;

    color: var(--dark-blue);
}

.bg-light {
    background-color: var(--light) !important;
}
.text-light {
    color: var(--light) !important;
}

.bg-dark {
    background-color: var(--dark-blue) !important;
}
.text-dark {
    color: var(--dark-blue) !important;
}

.bg-alert {
    background-color: var(--pink) !important;
}
.text-alert {
    color: var(--pink) !important;
}

.bg-light-blue {
    background-color: var(--dust-blue) !important;
}
.text-light-blue {
    color: var(--dust-blue) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}
.text-blue {
    color: var(--blue) !important;
}

.btn-primary {
    background-color: var(--blue);
    color: var(--light);
    border: none;
}

.text-justify {
    text-align: justify;
}

section {
    padding: 60px 0;
}

#header a{
    color: var(--light);
}
