/* Specialized css for the style of the website */
body {
    font-family: 'courier';
    padding: 0;
    margin: 0;
    background: #000000;
    color: #d3d7cf;
    -webkit-font-smoothing: antialiased;
}

/* Terminal colors */
.bg-black {
    background-color: #000000;
}

.bg-light-black {
    background-color: #555753;
}

.bg-white {
    background-color: #d3d7cf;
}

.bg-blue {
    background-color: #729fcf;
}

.bg-yellow {
    background-color: #c4a000;
}

.bg-magenta {
    background-color: #ad7fa8;
}

.bg-bright-green {
    background-color: #8ae234;
}

.bg-cyan {
    background-color: #06989a;
}

.page-section {
    padding: 5% 0;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: #555753;
    color: #d3d7cf;
    vertical-align: middle;
    display: inline-block;

    z-index: 10;
}

.header .navbar-brand {
    color: #d3d7cf;
    font-size: 2em;
}

.header .navbar-nav .nav-link {
    color: #d3d7cf;
    font-size: 1.2em;
}

/* Top Cover */
.top-cover {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px 10px;
    background-image: url('');
    text-align: center;
    background-size: cover;
    background-position: center;

}

.top-cover .background {
    position: relative;
    top: 0;
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.top-cover .information {
    position: absolute;
    top: 50%;
    right: 0;
    padding-right: 5%;
    padding-left: 2em;
    text-align: right;
    transform: translateY(-50%);
    background-color: #729fcf;
    opacity: 0.8;
    color: #555753;
}

.top-cover .information h1 {
    font-size: 5em;
}

.top-cover .information h2 {
    font-size: 3em;
}

.top-cover p {
    font-size: 1em;
}

/* Gallery */
.gallery h1 {
    text-align: center;
}

.gallery-grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-grid li {
    list-style-type: none;
    width: 25%;
    min-width: 250px;
    cursor: pointer;
    margin: 1em;
}

.gallery-grid li:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.gallery-item {
    position: relative;
    padding: 10px;
    background-color: #729fcf;
    border-radius: 2%;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.gallery-item figcaption {
    text-align: center;
    color: black;
    font-size: 1.5em;
}

/* Popup container */
.popup {
    display: none;
    /* Hide popup by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    overflow: auto;
}

/* Popup content */
.popup-content {
    position: relative;
    background-color: #fefefe;
    padding: 1px 20px;
    border: 1px solid #888;
    border-radius: 1%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 600px;
    height: 80%;
    min-height: 200px;
    max-height: 600px;
    overflow: auto;
    display: block;
}

.popup-content img {
    width: 100%;
    height: auto;
}

.popup-content figcaption {
    text-align: center;
    color: #555753;
    font-size: 1.5em;
}

.popup-content h2 {
    text-align: center;
    color: #555753;
    font-size: 2em;
}

.popup-content p {
    font-size: 1.2em;
    color: #555753;
}

/* Cross button */
.cross {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cross:hover,
.cross:focus {
    color: #555753;
    text-decoration: none;
    cursor: pointer;
}

/* Close button */
.close {
    color: white;
    background-color: #4e9a06;
    float: right;
    font-size: 1em;
    border: 0px;
    border-radius: 0.5em;
    box-shadow: none;
    border-color: #4e9a06;
    padding: 2%;
}

@media screen and (max-width: 768px) {

    .container {
        width: 80%;
    }

    .header .logo {
        font-size: 1.5em;
    }

    .top-cover .information h1 {
        font-size: 3em;
    }

    .top-cover .information h2 {
        font-size: 1.5em;
    }

    .top-cover p {
        font-size: 0.7em;
    }

    .popup-content {
        width: 90%;
    }

}
