/* Specialized css for the style of the website */

body {
    /* Colors */
    --orange: #E76F51;
    --mandarin-orange: #F4A261;
    --mustard: #E9C46A;
    --green: #2A9D8F;
    --navy: #264653;

    font-family: "Charm", cursive;
    background: var(--mandarin-orange);
    color: var(--navy);
}

.bg-orange {
    background-color: var(--orange) !important;
}

section {
    padding: 60px 0;
}

#header a {
    color: var(--navy);
}

/* Gallery Popup (Carousel) */

.gallery-popups {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.gallery-popups .cover-all {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
}

.gallery-popups img {
    padding: 10px;
    width: 100%;
    height: 70%;
    object-fit: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
