/* Specialized css for the style of the website */

body {
    /* Colors */
    --orange: #E76F51;
    --mandarin-orange: #F4A261;
    --mustard: #E9C46A;
    --green: #2A9D8F;
    --navy: #264653;

    font-family: "Charm", cursive;
    background: var(--mandarin-orange);
    color: var(--navy);
}

.bg-orange {
    background-color: var(--orange) !important;
}

section {
    padding: 60px 0;
}

#header a {
    color: var(--navy);
}

